main {
    width: 500px;
    margin: auto;
    background-color: rgb(159, 186, 236);
    text-align: center;
    text-shadow: rgb(158, 155, 155) 1px 1px 2px;
    padding: 10px;
    border-radius: 2px;
}

form {
    width: 300px;
    margin: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#btn {
    box-shadow: rgb(158, 155, 155) 1px 1px 2px;
}


